<a href="https://colab.research.google.com/github/lsindhungowda/Daily-report/blob/master/Day_1_session_2_Exercises_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Enter number 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [0]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

2. Write a program to print the triangle 
i/p  4

1
2    3
3    4   5
4    5   6   7

In [0]:
k=1
n=int(input("enter n value: ")) 
for i in range(0,n):
  if(i>=2): 
    k=i+1
for j in range(0,i+1):
   print(k,end=" ")
   k=k+1 
print()

enter n value: 4
4 5 6 7

3. Enter number 5

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [0]:
k=4
n=int(input("enter n value: "))
for i in range(n+1,0,-1):
  for j in range(i,n+1): 
    print(j,end=" ")
print()

enter n value: 5
5 4 5 3 4 5 2 3 4 5 1 2 3 4 5

4. Enter number 4

1 2 3 4
2 3 4
3 4
4
3 4
2 3 4
1 2 3 4

In [0]:
rows = 5
n=rows-1
for i in range(1, rows-1): 
  for j in range(i,rows):
    print(j,end=" ") 
  print()
for i in range(n+1,0,-1): 
  for j in range(i,n+1):
    print(j,end=" ")
  print()

1 2 3 4
2 3 4
3 4

4
3 4
2 3 4
1 2 3 4

5. Enter number 4

*
* *
* * *
* * * *

In [0]:
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

6. Find the length of a string without using len functions

In [0]:

str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: Shwethakhadri
Length of the input string is: 13

7. Find the no of words and characters in a string

In [0]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:Shwetha Khadri
Number of words in the string:
2
Number of characters in the string:
14

8. Find the no of occurrences of a word in a string

In [0]:
def countOccurences(str, word):   
    a = str.split(" ") 
    count = 0
    for i in range(0, len(a)): 
        if (word == a[i]): 
           count = count + 1       
    return count        
str ="python is very easy to learn and python is dynamically typed "
word ="python"
print(countOccurences(str, word))

2